.header-container {
    font-size: 60px;
    font-family: fantasy;
    padding: 16px;
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-around;
    background: radial-gradient(
        circle,
        rgba(8, 129, 24, 1) 0%,
        rgba(55, 66, 57, 1) 100%
    );
}
